@mixin kata-ratings {
	.kata-rating {
		display: inline-block;
		margin: 0 auto;
		position: relative;
	}
	.kata-rating:before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBzdHJva2U9IiM4ODgiIGZpbGw9IiNEREREREQiIHBvaW50cz0iMTAsMCAxMy4wOSw2LjU4MyAyMCw3LjYzOSAxNSwxMi43NjQgMTYuMTgsMjAgMTAsMTYuNTgzIDMuODIsMjAgNSwxMi43NjQgMCw3LjYzOSA2LjkxLDYuNTgzICIvPjwvc3ZnPg==');
		background-size: contain;
		content: ' ';
		height: 2rem;
		width: 10rem;
		z-index: 10;
	}
	@for $i from 1 through 5 {
		.kata-rating-#{$i}:after {
			display: block;
			position: absolute;
			top: 0;
			background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBzdHJva2U9IiNBQThBMzMiIGZpbGw9IiNGRkRGODgiIHBvaW50cz0iMTAsMCAxMy4wOSw2LjU4MyAyMCw3LjYzOSAxNSwxMi43NjQgMTYuMTgsMjAgMTAsMTYuNTgzIDMuODIsMjAgNSwxMi43NjQgMCw3LjYzOSA2LjkxLDYuNTgzICIvPjwvc3ZnPg==');
			background-size: contain;
			content: ' ';
			height: 2rem;
			width: ($i * 2rem);
			right: ( (5 - $i) * 2rem);
			z-index: 11;
		}
	}
}
